body {
    background-color: #000435;
}

#home {
    background-image: url("ny.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#title {
    text-shadow: 0 0 10px white;
    font-size: 70px;
    color: black;
    margin-top: 10%;
    text-align: center;
}
#links {
    margin: 10%
}
h5 {
    text-align: center;
}

